// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Common
@import 'partials/common';

// Variables
@import 'partials/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Partials
@import 'partials/index';
@import 'partials/sponsor';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/apartment_show';
@import 'partials/search';
