.apartment_show{
    .container{
        .header_apartment{
            width: 100%;
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                font-size: 38px;
                text-transform: capitalize;
                word-break: break-all;
            }
            .apartment_form{
                span{
                    font-size: 17px;
                    // padding-right: 15px;
                    a{
                        color: #ff385c;
                    }
                    a:hover{
                        color: #960441;
                        i{
                            color: #960441;
                        }
                    }
                }
                .small-display, .big-display {
                    display: flex;
                    align-items: center;
                }
                .small-display {
                    display: none;
                }
            }
        }
        .image_apartment{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 3px;
            }
            hr{
                visibility: hidden;
            }
        }
        hr{
            border: 0.5px solid #ff385c;
            background-color: #ff385c;
        }
        .description_information{
            width: 100%;
            display: flex;
            .apartment_description{
                width: 50%;
                text-align: center;
                padding: 12px 0px;
                word-break: break-all;
                h3{
                    font-size: 30px;
                }
                span{
                    font-size: 18px;
                    color: #717171;
                }
            }
            .apartment_information{
                width: 50%;
                padding: 12px 0px;
                text-align: center;
                h3{
                    font-size: 30px;
                }
                p{
                    font-size: 22px;
                    color: #717171;
                }
            }
        }
        .service_maps{
            width: 100%;
            display: flex;
            .apartment_service{
                width: 50%;
                padding: 12px 0px;
                text-align: center;
                hr{
                    visibility: hidden;
                }
                h3{
                    font-size: 30px;
                }
                li{
                    list-style: none;
                    font-size: 22px;
                    color: #717171;
                    margin-bottom: 15px;
                    i{
                        margin-right: 5px;
                    }
                }
            }
            .apartment_maps{
                width: 50%;
                min-height: 400px;
                padding: 12px 0px;
                text-align: center;
                iframe{
                    width: 100%;
                }
            }
        }
        .message{
            width: 100%;
            margin-bottom: 20px;
        }
    }
}


@media screen and (max-width: 576px){
    .apartment_show .container .header_apartment .apartment_form .big-display {
        display: none;
    }
    .apartment_show .container .header_apartment .apartment_form .small-display {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .apartment_show .container .header_apartment .apartment_form {
        width: 100%;
        display: flex;
    }

}

@media screen and (max-width: 720px){
    .apartment_show{
        .container{
            .description_information{
                width: 100%;
                flex-direction: column;
                .apartment_information , .apartment_description{
                    width: 100%;
                }
                hr{
                    visibility: visible;
                }
            }
            .service_maps{
                width: 100%;
                flex-direction: column;
                .apartment_service{
                    width: 100%;
                }
                .apartment_maps{
                    width: 100%;
                    iframe{
                        width: 100%;
                    }
                }
                hr{
                    visibility: visible;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .apartment_show {
        .container {
            .header_apartment {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            }
        }
    }
}
