* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: #fe91a5;
    width: 200px;
    height:10px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #ff385c;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

input:focus {
  outline: none;
}


button.bool-btn-pink {
  font-size: 18px;
  text-align: center;
  background-color: #ff385c;
  border-radius: 3px;
  color: white;
  span{
      padding: 8px;
      i{
          color: white;
      }
  }
  &:hover {
    color: white;
    background-color: #960441;
  }
  &:active {
    color: white;
    background-color: #960441;
    transform: translateY(4px);
  }
}
