.apartment-create {
        padding-top: 50px;
        h2 {
            margin-bottom: 30px;
        }
        .create-page-form {
            padding-bottom: 150px;
        }
        .service {
        margin-right: 15px;
    }
}
