.apartment-edit {
  padding-top: 50px;
  padding-bottom: 150px;
  img{
    max-height: 200px;
  }

   button.bool-btn-pink {
     font-size: 18px;
     text-align: center;
     background-color: #ff385c;
     border-radius: 3px;
     color: white;
    }

    h2 {
      margin-top:20px;
    }

.form-group {
    margin-top: 30px;
    .service {
        margin-right: 15px;
    }
}

}
