header {
    nav {
        height: 70px;
        background-color: lightblue;
        img {
            height: 60px;
            &:hover {
                cursor: pointer;
            }
        }
        .home-menu {
            display: flex;
            justify-content: flex-end;
            .home-menu-a {
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                color: black;
                padding: 5px;
            }
            i.user-icon {
                color: white;
            }
        }
    }
    margin-bottom: 30px;
}
