.home-container {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1588426651288-7e828a77f413?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(110%);
    nav {
        background:transparent;
        img {
            height: 60px;
        }
        .home-menu {
            justify-content: flex-end;
            .home-menu-a {
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                color: white;
            }
        }
    }
    .search-nav {
        width: 400px;
        height: 70px;
        display: flex;
        align-items: center;
        color: rgb(34, 34, 34);
        background-color: rgb(247, 247, 247);
        border: 1px solid rgb(221, 221, 221);
        border-radius: 32px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 3px 8px;
        margin-top: 100px;
        padding-right: 0;
        justify-content: space-between;
        .ricerca {
            width: 100%;
            padding: 10px;
        }
        .button-cerca {
            padding: 10px;
            button {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                border-color: transparent;
                color: white;
                background-color: #ff385c;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                i {
                    font-size: 18px;
                }
            }
        
    }
    input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        color: rgb(34, 34, 34);
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        border: 0px none;
        margin: 0px;
        padding: 0px;
    }
    .title{
        color:white;
        padding-top: 150px;
    }
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    // margin: 0 200px;
    h2 {
        display: flex;
        justify-content: flex-start;
        padding-top: 70px;
    }



    .card-group {
        padding: 50px 0;
        .card {
            border-radius: 10px;
            margin-right: 20px;
        }
    }
}
