.messages-index {
    h2 {
        padding-top: 50px;
    }
    h3 {
        font-size: 20px;
        margin-top: 25px;

    }
    table {
        margin-top: 10px;
        margin-bottom: 50px;

    }
}

@media screen and (min-width: 991px) {
        .message-mobile {
            display: none;
        }

}

@media screen and (max-width: 991px) {

        .message-mobile {
            display: table;
        }
        .message-desktop{
            display: none;
        }


}
