.messages-index {
    h2 {
        padding-top: 50px;
    }
    h3 {
        font-size: 20px;
        margin-top: 25px;

    }
    table {
        margin-top: 10px;
        margin-bottom: 150px;

    }
}
